table {
  width: 100%;
}

tr.element-row {
  transition: background-color 0.3s ease;
}

tr.element-row td {
  border-bottom-width: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f3f4f6;
  cursor: pointer;
}

tr.element-row.selected-row {
  background: #bfdbfe;
}

tr.detail-row {
  height: 0;
  background: white;
}

tr.detail-row .element-detail {
  background-color: white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid #000;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
